<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @todo_list.list_name %>
</p>

<p>
  <strong>List due date:</strong>
  <%= @todo_list.list_due_date %>
</p>

<h1>Listing Todo Items</h1>

<table class="table special">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.todo_items.where.not(completed:true).each do |todo_item| %>
      <tr>
        <%= form_for([@todo_list,todo_item]) do |f| %>
        <td><div class="field">
          <%= f.text_field :title, :class => "todo-field" %>
        </div></td>
        <td><div class="field">
          <%= f.text_field :description, :class => "todo-field" %>
        </div></td>
        <td><div class="field">
          <%= f.date_field :due_date %>
        </div></td>
        <td><div class="field">
          <%= f.check_box :completed %>
        </div></td>
        <td><div class="actions">
        <%= f.submit("Update",:class => "btn btn-default todo-item-button") %> 
        <% end %>
        <td><%= link_to 'Show', [@todo_list, todo_item] %></td>
        <td><%= link_to 'Delete', [@todo_list, todo_item], method: :delete %></td>
      </tr>
    <% end %>
      <tr>
        <%= form_for([@todo_list,@todo_item]) do |f| %>
        <td><div class="field">
          <%= f.text_field :title, :class => "todo-field" %>
        </div></td>
        <td><div class="field">
          <%= f.text_field :description, :class => "todo-field" %>
        </div></td>
        <td><div class="field">
          <%= f.date_field :due_date %>
        </div></td>
        <td><div class="field">
          <%= f.check_box :completed %>
        </div></td>
        <td><div class="actions">
        <%= f.submit("New",:class => "btn btn-default todo-item-button") %> 
        <% end %>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Todo Item', new_todo_list_todo_item_path(@todo_list)%>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
